In [3]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

# Define el alcance y carga tus credenciales
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)

# Autenticación con gspread
client = gspread.authorize(creds)

# Abrir la hoja de cálculo por nombre
sheet = client.open("ventas_2").sheet1


#convertir datos a pandas
dataframe=pd.DataFrame(sheet.get_all_records())

dataframe.head()

        Fecha de Venta Producto  Cantidad Vendida  Precio Unitario
0   2021-04-07 8:43:24  Teclado                 9           711.53
1   2021-12-10 8:30:39  Teclado                 1           408.86
2   2021-07-31 8:40:21  Monitor                 9           220.62
3  2021-01-26 15:18:24  Teclado                 6            73.44
4  2021-03-01 16:41:39  Teclado                 1           113.89

In [14]:
cantidad_vendida=dataframe['Cantidad Vendida']
precio_unitario=dataframe['Precio Unitario']
dataframe["Total de ventas"]=cantidad_vendida*precio_unitario
dataframe.head()

,Fecha de Venta,Producto,Cantidad Vendida,Precio Unitario,Total de ventas
0,2021-04-07 8:43:24,Teclado,9,711.53,6403.77
1,2021-12-10 8:30:39,Teclado,1,408.86,408.86
2,2021-07-31 8:40:21,Monitor,9,220.62,1985.58
3,2021-01-26 15:18:24,Teclado,6,73.44,440.64
4,2021-03-01 16:41:39,Teclado,1,113.89,113.89

In [19]:
ventas_por_producto=dataframe.groupby('Producto')['Total de ventas'].sum()
ventas=dataframe['Total de ventas'].sum()
print(ventas_por_producto)
print(f"total ventas: {ventas}")

Producto
Laptop         65789.64
Monitor        87211.01
Mouse          90705.63
Smartphone     84051.48
Tablet        118071.28
Teclado        80135.05
Name: Total de ventas, dtype: float64
total ventas: 525964.09